<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Big Boss</title>
</head>
<body style="background-color:#2b3d5c;">';
	<img src="/banner/vp_banner_2024.png" alt="vb 2024 aasta kursuse bänner">';
	<h1 style="color:white;" >Maria Rjabtseva </h1>
	<p style="color:white;">See leht on loodud õppetöö raames <a href="https://www.tlu.ee" style="color: #94d0fa">Tallinna ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali</p>
	<hr>
	<h2 style="color: white">Vinge veeb</h2>
	<ul style="color: white">
	 <li><a href="/news/add" style="color: #94d0fa">Uudise lisamine</a></li>
		<li><a href="/news/read"style="color: #94d0fa" >Uudiste lugemine</a></li>
		<li><a href="/home" style="color: #94d0fa">Kodulehele</a></li>
		<li><a href="/" style="color: #94d0fa">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>